DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=BD_PATRIMONIUS
PORT=3000
AUTH_DISABLED=false
JWT_SECRET=
JWT_EXP_HOURS=4
NODE_ENV=test

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=patrimonius@museocostarica.go.cr

FRONTEND_URL=http://localhost:4200
SEED_PLANTILLAS=true

MASTER_BYPASS_2FA=true
MASTER_ADMIN_EMAIL=system@patrimonius.local
MASTER_ADMIN_PASSWORD=
MASTER_ADMIN_UNIDAD_ID=1
MASTER_ADMIN_ROL_ID=1

SYSTEM_USER_ID=1

MAX_MASSIVE_PDF_MB=150
MAX_MASSIVE_PDF_FILES=100
MAX_MASSIVE_PDF_TOTAL_MB=1024
MULTER_MASSIVE_PDF_FILES_LIMIT=150